<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this wix library -->
  <?define SourceDir=".."?>
  <Fragment>
    <ComponentGroup Id="ImageConvolutionFiles">
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\image_convolution.exe" KeyPath="yes">
          <Shortcut Id="sc14E2432430552FE8E1C137D682E82D33" Name="ImageConv" Directory="DesktopFolder" Icon="Icon.ico" Advertise="yes" />
        </File>
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libatomic-1.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libgcc_s_seh-1.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libgomp-1.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_calib3d455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_core455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_dnn455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_features2d455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_flann455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_gapi455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_highgui455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_imgcodecs455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_imgproc455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_ml455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_objdetect455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_photo455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_stitching455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_video455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libopencv_videoio455.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libssp-0.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libstdc++-6.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\libwinpthread-1.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLLOCATION" Subdirectory="ImageConvolution">
        <File Source="$(var.SourceDir)\deploy\opencv_videoio_ffmpeg455_64.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>